<aside class="sidebar">
  <img src="assets\profile.jpg" alt="Aluk Kumar" class="profile-img" />
  <h2>ALUK KUMAR</h2>
  <p class="title">Software Engineer</p>

  <div class="social-links">
    <a href="https://www.linkedin.com/in/aluk-kumar-0361a6216" target="_blank">LinkedIn</a>
    <a href="https://github.com/kumaraluk/" target="_blank">GitHub</a>
  </div>

  <div class="info-card">
    <p>📱 +91-8471933864</p>
   <p>📧 <a [href]="'mailto:' + email">{{ email }}</a></p>
    <p>📍 Motihari,Bihar</p>
     <p>📍 (Current Location)Bangaluru,Karnataka</p>
  </div>

  <a href="assets/Aluk_Resume.pdf" class="download-btn" target="_blank">⬇ Download CV</a>
</aside>
